/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(203, 255, 203);
}

.logo{
    display: flex; /* Use flexbox */
    margin-left: 240px; /* Center align items horizontally */
    height: 45.88px;
    width: 130px;
}

.main-header {
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    position: static;
}


.main-nav {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center align items horizontally */
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;  /*Use flexbox */
    padding-top: 10px;
    white-space: nowrap;
    margin-right: 220px;
    margin-left: 80px;
}

.nav-item {
    margin: 0 10px; /* Adjust spacing between nav items */
}

.nav-link {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav-item::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(71, 71, 218);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-item:hover::after{
    width: 100%;
}

.nav-link:hover {
    background-color: rgb(33, 116, 116);
    border-radius: 5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
}

.dropdown{
    overflow: hidden;
    border: none;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(151, 214, 151);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 10px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content{
    display: block;
}


.welcome-section{
    text-align: center;
    background-color: white;

}

.welcome-section h1 {
    margin: 0;
    font-size: 50px;
}

iframe{
    width: 100%;
    height: 720px;
}

.secondsection{
    background-color: blanchedalmond;
}