body {
    font-family: Arial, sans-serif;
}

.page-title{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: black;
    max-width: 600px;
    width: 50%;
    border: 2px solid black;

}

.images{
    width: 500px;
    height: 350px;
    border: 2px solid black;
    margin-left: 170px;
    margin-bottom: 30px;
    margin-top: 20px;
}
