body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro-text{
    text-align: center;
    padding: 20px;
    word-wrap: break-word;
    font-size: 5px;
}

.intro-text h1{
    padding-bottom: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.follow-text{
    margin-left: 50px;
}

.socialmedia{
    font-weight: bold; 
    text-align: center; 
    color: black;
}

.socialmedia-analytics{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    width: 60%;
    margin-top: 50px;
}
.legend {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.legend-item {
    display: flex;
    align-items: center;
    margin: 20px;
    font-weight: bold;
    color: black;
}
.legend-color {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}